<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.multi.ongo.member.MemberDTO" alias="member"/>
		<typeAlias type="com.multi.ongo.deal.DealBoard_DTO" alias="dealDTO"/>
		<typeAlias type="com.multi.ongo.note.NoteDTO" alias="note"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/deal.xml"/>
	</mappers>
</configuration>