@charset "UTF-8";

/* ============dealsellList 시작================= */

input {
	margin-left: -1px;
}

.search-filter {
	margin-right: 15px;
}

.dropdown-menu {
	width: 10%;
	border: 1px solid #000;
	padding: 0;
	box-shadow: 4px 4px 10px rgb(0 0 0/ 12%);
	border-radius: 0;
	margin-top: -3px !important;
	max-height: 300px;
	overflow: visible !important;
}

.id-link {
	padding: 0.5rem 1rem;
	color: #0d6efd !important;
	font-weight: 600;
	text-decoration: none;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

.board .table td a {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: visible;
}

/* 탭메뉴 css 시작 */
.nav {
	flex-flow: row;
	padding-left: 10px;
}

.nav-tabs {
	border-bottom: 1px solid #E6E6E6 !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	border-color: #fff;
	font-weight: 900;
	color: black;
	border-bottom: 3px solid #1B3C88 !important;
}

.nav .nav-item .nav-link {
	width: 100%;
	height: 51px;
	font-size: 25px;
	background: #fff;
	border-color: #fff;
	/* 	border-bottom-color: #fff; */
}

.nav .nav-item .nav-link {
	
}

.table th {
	font-size: 1.125rem;
}

/* 탭메뉴 css 끝  */

/* 조회테이블 css */
.tableDefault>table>tbody>tr>th {
	background: #f8f8f8;
	color: #444444;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	width: 200px;
}

.tableDefault>table>tbody>tr>td, .tableDefault>table>tbody>tr>th {
	padding: 7px 25px;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	height: 45px;
}

.tableDefault>table {
	width: 100%;
	border-top: 1px solid #ddd !important;
}

.radio-inline {
	margin-right: 20px;
	vertical-align: middle;
}

.datepicker {
	flex: 0 0 auto !important;
	width: 15%;
}

.period {
	float: left;
	width: auto;
	margin-right: 10px;
	vertical-align: middle;
}

.dpInblock {
	width: 10%;
	float: left;
	margin-right: 20px;
}

.inputSearchText {
	width: 20%;
	float: left;
}

.showdata {
	color: #0d6efd;
}
/* 조회테이블 css 끝 */

/* ============dealsellList 끝================= */

