@charset "utf-8";

/* Pretendart */
@font-face{
	font-family:'ptd';
	font-weight:300;
	font-style: normal;
	src:url("/ongo/common/font/Pretendard-Regular.otf");
	src:url("/ongo/common/font/Pretendard-Regular.woff2") format('woff2'),
		url("/ongo/common/font/Pretendard-Regular.woff") format('woff');
}

@font-face{
	font-family:'ptd';
	font-weight:600;
	font-style: normal;
	src:url("/ongo/common/font/Pretendard-Medium.otf");
	src:url("/ongo/common/font/Pretendard-Medium.woff2") format('woff2'),
		url("/ongo/common/font/Pretendard-Medium.woff") format('woff');
}

@font-face{
	font-family:'ptd';
	font-weight:900;
	font-style: normal;
	src:url("/ongo/common/font/Pretendard-Bold.otf");
	src:url("/ongo/common/font/Pretendard-Bold.woff2") format('woff2'),
		url("/ongo/common/font/Pretendard-Bold.woff") format('woff');
}

@font-face{
	font-family:'dw';
	font-weight:900;
	font-style:normal;
	src:url("/ongo/common/font/DWImpactamin.ttf");
	src:url("/ongo/common/font/DWImpactamin.woff") format('woff');
}

  


/*Material Icons*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 300;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/ongo/common/font/Material-Icons.woff2) format('woff2'),
    url(/ongo/common/font/Material-Icons.woff) format('woff'),
    url(/ongo/common/font/Material-Icons.ttf) format('truetype');
}
.material-icons {font-family: 'Material Icons';font-weight: normal;font-style: normal;  display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal; word-wrap: normal; white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';line-height: 1;vertical-align: top; font-size: 16px;}


/*Line Awesome*/
@font-face {
	font-family: 'las';
	font-style: normal;
	font-weight: 900;
	src: 
	  url(/ongo/common/font/la-solid-900.woff2) format('woff2'),
	  url(/ongo/common/font/la-solid-900.woff) format('woff'),
	  url(/ongo/common/font/la-solid-900.ttf) format('truetype');
  }
  .las {font-family: 'las';font-weight: normal;font-style: normal;  display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal; word-wrap: normal; white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';line-height: 1;vertical-align: middle; font-size: 16px;}

/*bootstrap-icons*/
@font-face {
	font-family: 'bi';
	font-style: normal;
	font-weight: 900;
	src: 
	  url(/ongo/common/font/bootstrap-icons.woff2) format('woff2'),
	  url(/ongo/common/font/bootstrap-icons.woff) format('woff');
  }
  .bi {font-family: 'bi';font-weight: normal;font-style: normal;  display: inline-block;line-height: 1;text-transform: none;letter-spacing: normal; word-wrap: normal; white-space: nowrap;direction: ltr;-webkit-font-smoothing: antialiased;text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale;font-feature-settings: 'liga';line-height: 1;vertical-align: top; font-size: 16px;}
  

